body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
}

body {
    background-image: url("../assets/octocat-opacity-50.png");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: luminosity;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.pointable {
    cursor: pointer;
}